<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.fua</package>
	<author>varga</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.fua.FuaActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>1.11.6</require_version>
	
	<!-- Extensions -->
	

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>
	
	
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	
	<!-- Required Privileges 
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->

	<privilege>
		<name>Fua Privilege</name>
		<description>Allows user to access general FUA module functions</description>
	</privilege>

	<privilege>
		<name>Read Fua</name>
		<description>Allows user to view FUA records</description>
	</privilege>

	<privilege>
		<name>Manage Fua</name>
		<description>Allows user to create and manage FUA records</description>
	</privilege>

	<privilege>
		<name>Delete Fua</name>
		<description>Allows user to delete FUA records</description>
	</privilege>

	<privilege>
		<name>Update Fua</name>
		<description>Allows user to update FUA records</description>
	</privilege>

	<!-- Required Global Properties -->
	<globalProperty>
		<property>fua.generator.url</property>
		<defaultValue>http://fua-generator:3000</defaultValue>
		<description>
			Base URL of the FUA Generator microservice. This service is responsible for 
			rendering FUA documents as HTML. Example: http://localhost:3000 or 
			http://hii1sc-dev.inf.pucp.edu.pe/services/fua-generator
		</description>
	</globalProperty>
	<globalProperty>
		<property>fua.identifier</property>
		<defaultValue></defaultValue>
		<description>
			Identifier used by the FUA module. This is a configurable string value
			that can be set by the administrator and used when communicating with
			external FUA-related services.
		</description>
	</globalProperty>

	<!-- /Required Global Properties -->
	
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

